#!/bin/bash
set -euo pipefail
# Brewfile hash: {{ include "Brewfile" | sha256sum }}
echo "Syncing Homebrew packages from Brewfile..."
brew bundle --file=- <<'BREWFILE'
{{ include "Brewfile" -}}
BREWFILE
